html {
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


header {
  background-color: silver;

}

footer {
  background-color: silver;
}

li {
  list-style-type: none;
}

.margin{
margin-right: -1em;
 }

 a{
 	text-decoration: none;
 }
nav ol {
  padding: 0;
  text-align: left;
}

.pad {
  padding: 1em;
}
@media only screen and (min-width: 25em) {
  nav li {
    display:inline-block;
    }
  nav ol {
    text-align: left;
  }

 nav {
   text-align: center;
 }
 header {
   text-align: center;
 }
}

@media only screen and (min-width: 38em) {

nav h1 {
  text-align: left;
}

}

.marginleft {
  margin-left: 1.5rem;
}

.lightcol {
  background-color: lightgrey;
}

 dd {
  margin: 0;
  padding-bottom: 1em;
}

.marg {
  margin: 1.25em;
}

header li {
  padding: 1em;
  margin: .5em;
}

header li:hover{
  background-color: #1579db;
}

header a:hover{
  color: white;
}

.margleft {
  margin-left: 1em;
}
